<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
      <app-big-card photoCover="https://imageio.forbes.com/specials-images/imageserve/63600220295903240c876e05/0x0.jpg?format=jpg&width=1200" cardTitle="Homem de Ferro
      " cardDescription="Tony Stark (Robert Downey Jr.) é um industrial bilionário, que também é um brilhante inventor. Ao ser sequestrado ele é obrigado por terroristas a construir uma arma devastadora mas, ao invés disto, constrói uma armadura de alta tecnologia que permite que fuja de seu cativeiro. A partir de então ele passa a usá-la para combater o crime, sob o alter-ego do Homem de Ferro."></app-big-card>
    </div>
    <div class="articles__others">
      <app-small-card  photoCover="https://s.aficionados.com.br/imagens/naruto-1-0_cke.jpg" cardTitle="Naruto"></app-small-card>

      <app-small-card photoCover="https://midias.correiobraziliense.com.br/_midias/jpg/2022/07/22/675x450/1_xmen-26096415.jpeg?20220722171339?20220722171339" cardTitle="X-Men: Dias de um Futuro Esquecido
      "></app-small-card>

      <app-small-card photoCover="https://4.bp.blogspot.com/-1GkcWHBbUZs/W9XckSvFCCI/AAAAAAAAMp4/oZ1vslLb8Pwysc8Dwg1fF-VPLM4Pfze3wCLcBGAs/s1600/olhos-famintos-3_img-05.jpg" cardTitle="Jeepers Creepers "></app-small-card>
    </div>
</div>
